div{
    width: 100%;
    border: 1px solid #222222;
    color: black;
    height: 200px;
    font-size: 30px;
    text-align: center;
}
#content{
    background-color: green;
}
#sidebar{
    background-color: blue;
}
#footer{
    background-color: red;
}
#menu{
    background-color: yellow;
}