div{
    width: 100%;
    border: 1px solid #222222;
    color: black;
    font-size: 30px;
    text-align: center;
}
body{
    display: grid;
    /* 1fr - jedna jednostka WOLNEJ części bloku */
    /* auto - część strony jej wielkością steruje to co się znajdzie w tej kolumnie */
    grid-template-columns: 4fr 1fr; /* Deklaracja ilości kolumn w tabeli */
    grid-template-rows: 100px 500px 100px; /* Deklaracja ilości wierszy w tabeli*/    
    grid-template-areas:
        'menu menu' /* 1 wiersz */
        'content sidebar' /* 2 wiersz */
        'footer footer'; /* 3 wiersz */
        /* Przypisanie poszczególnych komórek tabeli do określonych id */
}
#content{
    grid-area: content; /* Przypisanie id komórki do tego elementu */    
    background-color: green;
}
#sidebar{
    grid-area: sidebar; /* Przypisanie id komórki do tego elementu */    
    background-color: blue;
}
#footer{
    grid-area: footer; /* Przypisanie id komórki do tego elementu */    
    background-color: red;
}
#menu{
    grid-area: menu; /* Przypisanie id komórki do tego elementu */    
    background-color: yellow;
}
@media only screen and (max-width: 600px){ /* To co znajdzie się pomiędzy tymi nawiasami klamrowymi będzie działało tylko jeżeli szerokość ekrany będzie mniejsza niż 600px*/
    body{
        grid-template-rows: 100px 500px 100px 100px; /* Deklaracja ilości wierszy w tabeli*/ 
        grid-template-areas: 
            'footer footer'    /* 1 wiersz */        
            'content content' /* 2 wiersz */
            'sidebar sidebar' /* 3 wiersz */
            'menu menu'; /* 4 wiersz */
    }
}
@media only screen and (min-width: 601px) and (max-width: 1000px){  /* To co znajzie się pomiędzy tymi nawiasami klamrowymi będzie działało tylko jeżeli szerokość ekrany będize większa niż 601px i mniejsza niż 1000px*/
    body{
        grid-template-areas: 
            'footer footer'  /* 1 wiersz */         
            'sidebar content' /* 2 wiersz */
            'menu menu'; /* 3 wiersz */
    }
}
